<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Professor</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.code %></td>
        <td><%= subject.professor.name %></td>
        <td><%= link_to 'Enroll', subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', students_path %>
